$primary-color-dark: #2b404a;
$primary-color: #546e7a;
$primary-color-light: #efebe9;
$primary-text-color: #ff7043;
$primary-accent-color: #ff7b52;

$secondary-color-dark: #ec6b42d9;
$secondary-color: #53a8c7;
$secondary-text-color: #fff;
$secondary-accent-color: #00000030;
//
//$tertiary-color-dark: #1a5174;
//$tertiary-color: #5ebadb;
//$tertiary-color-light: #646ddf;
$tertiary-text-color: #000;
//$tertiary-accent-color: #ff0000d4;
//
//$quarters-color-dark: #a50606d4;
//$quarters-color: #4e626cbf;
//$quarters-color-light: #ddd;
//$quarters-text-light: #ffa500;
//$quarters-accent-color: #bbb8b8;
//
//$fifth-color-dark: #ef6e38;
//$fifth-color: #bf4816;
//$fifth-color-light: #12b112d9;
//$fifth-accent-color: #183664a3;
//
$opacity-color: rgba(0,0,0,0.5);
//$intense-color: #3a6073;
$shadow-color: #00000024;
$border-color: #b1b1b1b0;
//$dark-color: #000;