@import "mixins";
@import "variables";
@import "components/header";
@import "components/section";
@import "components/aside";
@import "components/nav";
@import "components/main";
@import "components/footer";

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}

body {
  background: $primary-color;
}