.container__loader:before {
  content: "";
  position: absolute;
  left: 0;
  width: 10px;
  height: 10px;
  top: calc(50% - 10px);
  background: $primary-accent-color;
  animation: rotatemove 1s infinite;
}

@keyframes rotatemove {
  0% {
    transform: scale(1) translateX(0);
  }
  100% {
    transform: scale(2) translateX(45px);
  }
}