.container {

  position: relative;
  top: 45px;
  width: 100%;

  .container__list {
    @include display-flex;
    align-items: center;
    flex-wrap: wrap;
    width: 230px;

    .list__items {
      @include display-flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
      margin: 17px;
      border-radius: 5px;
      box-shadow: 0.3em 0.3em 0.7em $secondary-accent-color;
      background: $primary-color-light;

      &--btn {
        @include display-flex;
        position: relative;
        text-transform: uppercase;
        bottom: 8px;
        padding: 13px;
        margin: 0 20px;
        font-weight: 700;
        font-size: 0.83rem;
        border-radius: 5px;
        color: $tertiary-color;
        background: $tertiary-color-dark;
        border: 1px solid $tertiary-color-dark;
        transition: all .2s ease-in;
        box-shadow: 6px 6px 10px $tertiary-color-light,
        -6px -6px 12px $secondary-text-color;

        &:active {
          color: $tertiary-accent-color;
          box-shadow: inset 4px 4px 12px $tertiary-color-light,
          inset -4px -4px 12px $secondary-text-color;
        }
      }

      &--image {
        @include display-flex;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
        /* top: 100px; */
        width: 137px;
        padding: 5px;
      }

      &--name {
        text-align: center;
        font-size: .9rem;
      }

      &--price {
        font-size: .87rem;

        .items__price--custom {
          color: $secondary-color-dark;
          font-weight: 700;
        }
      }
    }
  }
}