.container__search {
  @include container__search;

  .search {
    @include search;
  }

  .icon__search {
    @include icon__search;
  }

  @media screen and (min-width: 360px) {
    top: 95px;

    .search {
      height: 45px;
      font-size: 1.2rem;
    }

    .icon__search {
      height: 45px;
      bottom: 45px;
      left: 310px;
      font-size: 1.3rem;
    }
  }
  @media screen and (min-width: 768px) {
    top: 105px;

    #form {
      width: 70%;
    }

    .search {
      height: 55px;
      font-size: 1.6rem;
      padding: 20px;
    }
    .icon__search {
      height: 55px;
      bottom: 55px;
      left: 505px;
      font-size: 1.6rem;
    }
  }
  @media screen and (min-width: 860px) {
    .search {
      height: 65px;
      font-size: 2rem;
    }
    .icon__search {
      height: 65px;
      bottom: 65px;
      left: 565px;
      width: 65px;
      min-width: 65px;
      font-size: 2rem;
    }
  }

  @media screen and (min-width: 1024px) {
    .search {
      display: none;
    }

    .icon__search {
      left: 640px;
    }
  }
}

.container__category {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  top: 65px;
  gap: 10px;

  .category {
    display: block;
    margin: 0 auto;
    padding: 5px;

    i {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.7rem;
      line-height: 0.7;
    }

    &__title {
      font-size: .90rem;
      text-align: center;

      &:active {
        color: $primary-accent-color;
      }
    }

    &__mobiles {
      color: $secondary-text-color;
    }
  }

  @media screen and (min-width: 360px) {
    gap: 15px;

    &__title {
      font-size: .95rem;
    }
  }

  @media screen and (min-width: 768px) {
    gap: 25px;

    .category {
      padding: 10px;

      i {
        font-size: 2.1rem;
      }

      &__title {
        font-size: 1.8rem;
      }
    }
  }
  @media screen and (min-width: 860px) {
    font-size: 2.5rem;

    i {
      font-size: 2.5rem;
    }

    .category__title {
      font-size: 2.1rem;
    }
  }
}